@media screen and (max-width:500px) {
    .bill{
        width:100%;
        max-width: 500px;
    }
    .bill-header{
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-family: 400;
        line-height: 32px;
        padding-top: 3rem;
        width:100%;
    }

    .bill__flex-title{
        display: flex;
        justify-content: space-between;
    }
    .bill__title{
        text-transform: capitalize;
        font-size: 16px;
        line-height: 17px;
    }
    .bill__title_1{
        width:20%;
    }
    .bill__title_2{
        width:50%;
        text-align: start;
    }
    .bill__title_3{
        width:30%;
        text-align: end;
    }
    .bill__content{
        width:100%;
    }
    
    .bill__items{
        display: flex;
        justify-content: space-between;
        height: 2rem;
        width: 100%;
        margin:1rem 0rem;
    } 
    .bill__item{
        text-transform: capitalize;
        font-size: 16px;
    }  
    .bill__empty{
        height:10rem;
        width:100%;
    }
    .bill__emptyText{
        text-align: center;
        font-size: 33px;
        text-transform: capitalize;
        font-weight: bolder;
        line-height: 35px;
    }
    .bill__emptyDirective{
        text-align: center;
        font-size: 25px;
        color:#5E5E5E;
        font-weight: lighter;
        line-height: 28px;
        margin: 4rem 0rem;
    }
    .bill__waiter{
        width:100%;
    }

    .bill__waiter-text{
        height:3rem;
        width:100%;
        margin:1rem 0;
        &-1{
            font-size: 18px;
            line-height: 21px ; 
            font-weight:normal;
        }
        &-2{
            font-size: 14px;
            line-height: 16px;
            color:#5E5E5E;
            font-weight:lighter;
            margin-top: .4rem;
        }                   
    }  
    .bill__waiter-option{
        height:8rem;
        width: 100%;
        display: flex;

        &-1_activee{
            width:24%;
            height:6.7rem;
            background-color: #000;
            margin-right: 5%;
            border-radius:10px;   
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); 
        //  display whenthe amount to be given to the waiter is selected  When selected
        }

        &-1_,
        &-1_actives,
        &-1_activez
        {
            width:24%;
            height:6.7rem;
            background-color: #fff;
            margin-right: 5%;
            border-radius:10px;   
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); 
        //    not selceted
        }

        &-2_,
        &-2_activez, 
        &-2_activee{
            width:24%;
            height:6.7rem;
            background-color: #FAFAFA;
            border-radius:10px;  
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); 
            // not sellected
        }
        &-2_actives{
            width:24%;
            height:6.7rem;
            background-color: #000;
            border-radius:10px;  
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); 
            //  display whenthe amount to be given to the waiter is selected  When selected
        }

        &-3_, 
        &-3_activee, 
        &-3_actives{
            width:36%;
            height:6.7rem;
            color:white;
            margin-left: 11%;
            background-color: #fff;
            border-radius:10px;   
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            // NOT Selected
        }
        &-3_activez{
            width:36%;
            height:6.7rem;
            color:white;
            margin-left: 11%;
            background-color: #000;
            border-radius:10px;   
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            //  display whenthe amount to be given to the waiter is selected  When selected
        }

        .bill__img_white{
            width:2.5rem;
            height:2.5rem;
            border-radius: 50%;
            background-color: #EAEAEA;
            margin:.7rem auto;
            text-align: center;
            img{
                margin-top: .2rem;
            }
        }
        .bill__amount3_activez, 
        .bill__amount2_actives, 
        .bill__amount1_activee{
            color:#fff;
            text-align: center;  
            //  display whenthe amount to be given to the waiter is selected  When selected 
        }
        .bill__amount3_, .bill__amount2_, .bill__amount1_,
        .bill__amount3_actives,.bill__amount3_activee, 
        .bill__amount2_activee,.bill__amount2_activez, 
        .bill__amount1_actives, .bill__amount1_activez{
            color:#000;
            text-align: center;   
        }
    } 
    .bill__custom_,
    .bill__custom_actives, 
    .bill__custom_activee {
        color:#5E5E5E;   
        font-weight: lighter;
        width: 100%;
        margin: auto;
        text-align: center;
        // NOT  selected 
        &activez {
           color:#fff;   
           font-weight: lighter;
           width: 100%;
           margin: auto;
           text-align: center;
           //  display whenthe amount to be given to the waiter is selected  When selected 
        }
    }
    .bill__green1__activee,
    .bill__green2__actives, 
    .bill__green3__activez {
        height:.8rem;
        width:.8rem;
        border-radius:50%;
        background-color: green;
        margin-left: 80%;
        margin-top: .1rem;
        margin-bottom: -.5rem;
        //  display the  green notification amount to be given to the waiter is selected  When selected 
        }
    .bill__footer{
        width:100%;
        height:2rem;
    }
    .bill__flex{
        width: 100%;
        height:2rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 1rem;
        align-items: center;
        animation: 1s bill ease-in;
    }

}
@keyframes bill {
    from{
        opacity:0;
        height:0;
    }
    to{
        opacity:1;
        height:2rem;
    }
    
}