@media screen and (max-width:500px) {
    .final__header{
        height:10rem;
    }
    .main__final{
        width:100%;
    }
    .final__image{
        animation-name: design;
        animation-duration: 2.3s;
        animation-iteration-count: 1;
        width:20rem;
        margin: auto;
    }
}   

@keyframes design{
    0%   { 
        opacity:0;
        transform: rotate(-350deg)
    }
    50%  {
        opacity:0.75;
        transform: rotate(40deg)
    }
    75% {
        opacity: 1;
        transform: rotate(0deg)
    }
    100%{
        opacity: 0;
    }
  }