@media screen and (max-width:500px) {

    .main__final{
        width:100%;
    }
    .final__image{
        animation: design 5s;
        width:20rem;
        margin: auto;
    }
    .final__section{
        margin:auto;
        display: flex;
        justify-content: center;
    }
    .final__illustration{
        width:100%;
        margin:2rem auto;

        h2{
            color:rgb(37, 214, 37);
            text-align: center;
            transform: rotate(-6deg);
        }

    }
    .final__giphy{
        transform: rotate(1deg);
        width:70%;
        margin:2rem auto;
        justify-content: center;
        display: flex;
        height: 15rem;
    }
}   

@keyframes design{
    0%   { 
        opacity:0;
        transform: rotate(-350deg)
    }
    50%  {
        opacity:1;
        transform: rotate(40deg)
    }
    75% {
        opacity: 1;
        transform: rotate(0deg)
    }
    100%{
        opacity: 0;
    }
  }
