$Caterina: Caterina, sans-serif;
$proxima: 'Proxima Nova', sans-serif;
$textcolor: #121212;
@media screen and (max-width:500px) { 
    .transfer__section {
        animation: menu-item 1s ease-in-out;
        h3 {
            text-align: center;
            width: 100%;
            font-size: 16px;
            font-family: $proxima;
            color:$textcolor;
            font-weight: 500;
            line-height: 2rem;
            margin:1.2rem 0rem 0.7rem;
            span {
            font-weight: 700;
          }
        }
        
      
    }
    .transfer__h4 {
        text-align: center;
        width: 100%;
        font-size: 14px;
        font-family: $proxima;
        color:$textcolor;
        font-weight: 500;
        text-transform: capitalize;
    }
    .transfer__h3 { 
        word-spacing: 1px;
        // line-height: 24px;
        font-family: $proxima;
        font-size: 23px;
        font-weight: bold;
        color: $textcolor;
        text-align: center;
        width:100%;
    }
    .transfer__account--number {
        width: 80%;
        height: 4.5rem;
        border-radius: 8px;
        margin:0.5rem auto 1.5rem;
        background-color: #e3e3e3;
        h4 {
            letter-spacing: 10px;
            line-height: 3rem;
            font-family: $proxima;
            font-size: 23px;
            font-weight: bold;
            color: $textcolor;
            text-align: center;
            width:100%;
        }
        
        div {
            display: flex;
            justify-content: center;
            h5 {
                text-align: center;
                font-size: 14px;
                font-family: $proxima;
                color:$textcolor;
                font-weight: 500;
                margin-right: 10px;
            }


        }
    }
    .transfer__button {
        width:90%;
        margin:auto;
        button {
            text-transform: none;
        }
    }
    .transfer__account--property {
        height: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        h4 {
            text-align: center;
            width: 100%;
            font-size: 14px;
            font-family: $proxima;
            color:$textcolor;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: -14px;
        }
        h3 {
            line-height: 23px;
            font-size: 20px;
            width:100%;
            text-align: center;
            text-transform: capitalize;
            font-weight: bold;
            font-family: $proxima;
        }
    }
    .transfer__expires  {
        width:100%;
        height:6rem;
        margin:3rem 0rem 0rem;
        .transfer__expires--timer {
            display: flex;
            justify-content: center;
            height:2rem;
            h4 {
                text-align: center;
                font-size: 14px;
                font-family: $proxima;
                color:$textcolor;
                font-weight: 500;
                margin-right: 5px;
                color: $textcolor;
            }
            span {
                color: #0089CD;
                letter-spacing: 1px;
                font-size: 16px;
                font-weight: bold;

            }
        }   
        .transfer__expires--note {
            width:85%;
            margin:auto;
            font-size: 16px;
            font-family: $proxima;
            color:$textcolor;
            font-weight: 500;
            text-align: center;
            span {
                color: #D31E1A;
                letter-spacing: 1px;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

