*{
    padding: 0;
    margin:0;
}
@import 'buttons';
@import 'bills';
@import 'menu';
@import 'final';
@import 'modal';
@import 'table';
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url("https://db.onlinewebfonts.com/t/15f829bee3e1d2bdf3fd9ab7e488ab80.ttf");
@import url("https://db.onlinewebfonts.com/c/3f495639499d4d097ef146630f9c9eb9?family=CALCaterinaW01");
$proxima-style: normal;
$proxima-weight: 400;
$Caterina: CALCaterinaW01, sans-serif;
$proxima: 'Proxima Nova', sans-serif;
                                                

$font-title: 'Yatra One', cursive;
$black: #121212;
$roboto:'Roboto', sans-serif;
$cursive:'Yatra One', cursive;
$openSans: 'Open Sans', sans-serif;

.container{
   width:90%;
   margin: auto;
}
@media screen and (max-width:500px) { 
.header{
    text-transform: capitalize;
    font-family:$Caterina;
    width:100%;
    text-align: center;
    height:3rem;
    font-size: 30px;
}
 .welcome__header{
    width:100%;
    max-width: 500px;
    height:19rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image:url('../images/IMG_9094.JPG');
    mask-image: linear-gradient(to top, transparent 10%, white 50%);
    animation: home__animation 1s ;
   
 }
 
.container{
    width:90%;
    margin: auto;
}
 
 .welcome__main{
   width:90%;
   margin:1rem auto 2rem;
   background-color: #fff;
   color:$black; 
   animation: home__animation 1s ;
 }
 .welcome__title{
    font-weight: 600;
    font-family:$Caterina;
    text-transform: capitalize;
    font-size: 44px;
    line-height: 26px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    width: 100%;
 }
 .welcome__extras{
    font-weight: 300;
    line-height: 18px;
    text-transform: none;
    font-family: $openSans;
 }
 .welcome__article{
    width:100%;
    margin-top: 1rem;
    
 }
 .welcome__tableBill{
    width: 100%;
    height:4em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
    align-items: center;

 }
 .welcome__tableText1{
    color:$black;
    font-family: $roboto;
    font-size: 20px;
    line-height: 20px;
 }
 .welcome__tableText2{
    color:$black;
    font-family: $roboto;
    font-size: 22px;
    line-height: 23px;
 }

.end{
    text-align: end;
}
.start{
    text-align: start;
}
.art{
   display: flex;
   height:2rem;
   align-self: center;
   margin: 0rem auto;
   width: 80%;
   justify-content: space-between;
   &__circle{
      width:.5rem;
      height:.5rem;
      border-radius: 50%;
      background-color: #CFCFCF;
      margin:-1.2rem 0rem;
   }
   &__line{
      background-color: #CFCFCF;
      width:45%;
      height: 1px;
      margin:-1rem 0rem;
   }
}
.footer{
   width:100%;
   height:2rem;
   display: flex;
   justify-content: center;
      h3{
         margin-left: 1.5rem;
         font-style: $Caterina;
         font-size: 14px;
         font-weight: 400;
      }
      img{
         margin-top: -3.2rem;
         margin-left: -1.9rem;
         width:9.5rem;
         height:7.4rem;
      }
}
}

@keyframes home__main__animation { 
   from {
      // margin-left: 10rem;
      opacity:0;
  }
  to {
      // margin-left:1.2rem;
      opacity:1;

  }
}

@keyframes home__animation{
   from {
      opacity:0;
      
  }
  to {

      opacity:1;
  }
}